In [211]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [109]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
437,tt1226229,40000000,90029656,Get Him to the Greek,Jonah Hill|Russell Brand|Rose Byrne|Colm Meane...,Nicholas Stoller,Aaron Green has 72 hours to get a Rock Star fr...,Pinnacle records has the perfect plan to get t...,109,Comedy,Universal Pictures|Spyglass Entertainment|Rela...,6/4/2010,5.9,2010
1810,tt0160127,92000000,264105545,Charlie's Angels,Cameron Diaz|Lucy Liu|Drew Barrymore|Bill Murr...,McG,Get Some Action,Aspects of this take on the 1970s hit TV serie...,98,Action|Adventure|Comedy|Crime|Thriller,Columbia Pictures,11/2/2000,5.5,2000
774,tt1385826,50200000,127869379,The Adjustment Bureau,Matt Damon|Emily Blunt|John Slattery|Anthony M...,George Nolfi,Fight for your fate.,A man glimpses the future Fate has planned for...,106,Thriller|Romance|Fantasy,Universal Pictures|Media Rights Capital|Gambit...,3/3/2011,6.4,2011
1306,tt2304771,35000000,27330000,Mandela: Long Walk to Freedom,Idris Elba|Naomie Harris|Tony Kgoroge|Riaad Mo...,Justin Chadwick,It is an ideal for which I am prepared to die.,A chronicle of Nelson Mandela's life journey f...,141,Drama|History,Distant Horizons|Film Afrika Worldwide|Videovi...,12/6/2013,6.5,2013
1614,tt0363988,40000000,92913171,Secret Window,Johnny Depp|John Turturro|Timothy Hutton|Charl...,David Koepp,The most important part of a story is the ending.,"Mort Rainey, a writer just emerging from a pai...",96,Thriller|Mystery,Columbia Pictures Corporation|Pariah Entertain...,3/12/2004,6.3,2004

In [61]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [220]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Create a new column 'profit'
data['profit']=data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [139]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers[1] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
#+

In [112]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [132]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [141]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers[2] = 'Gods and Generals (tt0279111)'

In [114]:
data[data.runtime==data.runtime.max()].original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [142]:
answers[3] = 'Winnie the Pooh (tt1449283)'

In [116]:
data[data.runtime==data.runtime.min()].original_title.values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [143]:
answers[4] = '110'

In [118]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [144]:
answers[5] = '107'

In [120]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [145]:
answers[6] = 'Avatar (tt0499549)'

In [122]:
data[data.profit == data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [218]:
answers[7] = 'The Lone Ranger (tt1210819)'

In [221]:
data[data.profit==data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [147]:
answers[8] = '1478'

In [105]:
len(data[data.revenue>data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [148]:
answers[9] = 'The Dark Knight (tt0468569)'

In [161]:
def most_revenue(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data.query('release_year==2008', inplace=True)
    data['profit'] = data['revenue'] - data['budget']
    return data[data.revenue == data.revenue.max()].original_title.values[0]

most_revenue(data)

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [149]:
answers[10] = 'The Lone Ranger (tt1210819)'

In [101]:
def worth_revenue(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data.query('2012<=release_year<=2014', inplace=True)
    data['profit'] = data['revenue']-data['budget']
    return data[data.profit == data.profit.min()].original_title.values[0]

worth_revenue(data)

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [150]:
answers[11] = 'Drama'

In [223]:
def count_genres(data):
    data = pd.read_csv('movie_bd_v5.csv')
    genres = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()
    return genres[0:1]

count_genres(data)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [151]:
answers[12] = 'Drama'

In [97]:
def profit_genres(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['profit'] = data['revenue'] - data['budget']
    data['genres'] = data['genres'].apply(lambda x:x.split('|'))
    mini_data = data.explode('genres')
    mini_data.fillna(0)
    result = mini_data[mini_data.profit>0].genres.value_counts()[0:1]
    return result

profit_genres(data)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [152]:
answers[13] = 'Peter Jackson'

In [95]:
def director_revenue(data):
    data = pd.read_csv('movie_bd_v5.csv')
    director = data.pivot_table(values='revenue',
                       index='director',
                       aggfunc='sum',
                       margins=True)
    return director.revenue.sort_values(ascending=False)[1:2]

director_revenue(data)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [168]:
answers[14] = 'Robert Rodriguez'

In [167]:
def genres_action(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['genres'] = data['genres'].apply(lambda x:x.split('|'))
    new_data = data.explode('genres')
    new_data = new_data[new_data.genres.str.contains('Action')]
    new_data['director'] = new_data['director'].apply(lambda x:x.split('|'))
    newnew = new_data.explode('director')
    t = newnew.groupby(['genres'])['director'].value_counts()
    return t[0:1]

genres_action(data)

genres  director
Action  Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [176]:
answers[15] = 'Chris Hemsworth'

In [177]:
def best_actor(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['cast'] = data['cast'].apply(lambda x:x.split('|'))
    new_data = data.explode('cast')
    b = new_data.loc[new_data.release_year == 2012]
    a = b[['cast','revenue']]
    grouped_a = a.groupby(['cast'])['revenue'].sum()
    return grouped_a.sort_values(ascending=False).head()

best_actor(data)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [155]:
answers[16] = 'Matt Damon'

In [88]:
def lucky(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['cast'] = data['cast'].apply(lambda x:x.split('|'))
    bigbud = data[['cast','budget']]
    bb = bigbud.explode('cast')
    bb.query('budget>budget.mean()',inplace=True)
    return bb.cast.value_counts()[0:1]

lucky(data)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [157]:
answers[17] = 'Action'

In [158]:
def Cage(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['cast'] = data['cast'].apply(lambda x:x.split('|'))
    data['genres'] = data['genres'].apply(lambda x:x.split('|'))
    new_data = data[['cast','genres']]
    g = new_data.explode('genres')
    c = g.explode('cast')
    c = c[c.cast.str.contains('Nicolas Cage', na=False)]
    return c.value_counts().head()

Cage(data)

cast          genres
Nicolas Cage  Action      17
              Thriller    15
              Drama       12
              Crime       10
              Fantasy      8
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [179]:
answers[18] = 'K-19: The Widowmaker'

In [180]:
def worst_paramount(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['profit'] = data['revenue'] - data['budget']
    data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
    new_data = data[['profit','production_companies','original_title']]
    p = new_data.explode('production_companies')
    p.query('production_companies== "Paramount Pictures"', inplace=True)
    return  p.groupby(['profit'])['original_title'].min().head()

worst_paramount(data)

profit
-64831034    K-19: The Widowmaker
-60519261                Timeline
-51788987                    Next
-46604061                   Alfie
-24805000                 Twisted
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [184]:
answers[19] = '2015'

In [183]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [195]:
answers[20] = '2014'

In [186]:
def best_WarnerBros(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['profit'] = data['revenue'] - data['budget']
    data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
    e = data.explode('production_companies')
    data2 = e[e.production_companies.str.contains('Warner Bros')]
    return data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head()

best_WarnerBros(data)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [188]:
answers[21] = 'Сентябрь'

In [187]:
def best_month(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
    data['month'] = data['release_date'].apply(lambda x: x[0])
    return data['month'].value_counts(ascending=False).head()

best_month(data)

9     227
12    190
10    186
8     161
3     156
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [190]:
answers[22] = '450'

In [189]:
def sum_month(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
    data['month'] = data['release_date'].apply(lambda x: x[0])
    summer_month = data.loc[(data.month=='6') | (data.month=='7') | (data.month=='8')]
    return  summer_month['month'].count()

sum_month(data)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [192]:
answers[23] = 'Peter Jackson'

In [191]:
def director_month(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
    data['month'] = data['release_date'].apply(lambda x: x[0])
    data['director'] = data['director'].apply(lambda x:x.split('|'))
    winter_month = data.loc[(data.month=='1') | (data.month=='2') | (data.month=='12')]
    w = winter_month.explode('director')
    return  w['director'].value_counts(ascending=False).head()

director_month(data)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [203]:
answers[24] = 'Four By Two Productions'

In [202]:
def long_studio(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['original_title'] = data['original_title'].apply(lambda x:len(x))
    data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
    e = data.explode('production_companies')
    long = e[['production_companies','original_title']]
    return long.groupby(['production_companies'])['original_title'].max().sort_values(ascending=False).head()

long_studio(data)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
Name: original_title, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [205]:
answers[25] = 'Midnight Picture Show'

In [204]:
def meanlong_studio(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
    data['overview'] = data['overview'].apply(lambda x:len(x))
    e = data.explode('production_companies')
    long = e[['production_companies','overview']]
    return long.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).head()

meanlong_studio(data)

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [208]:
answers[26] = 'Inside Out, The Dark Knight, 12 Years a Slave '

In [207]:
def one_percent(data):
    data = pd.read_csv('movie_bd_v5.csv')
    quant = data["vote_average"].quantile(0.99)
    data = data[data["vote_average"]>quant]
    return data 

one_percent(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [213]:
answers[27] = 'Daniel Radcliffe,Rupert Grint'

In [216]:
def together(data):
    data = pd.read_csv('movie_bd_v5.csv')
    data['cast'] = data['cast'].apply(lambda x:x.split('|'))
    from itertools import combinations
    data['pairs'] = data['cast'].apply(lambda y: list(combinations(y, 2)))
    data = data.explode('pairs')
    return collections.Counter(data['pairs']).most_common(1)

together(data)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [217]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{1: 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 2: 'Gods and Generals (tt0279111)',
 3: 'Winnie the Pooh (tt1449283)',
 4: '110',
 5: '107',
 6: 'Avatar (tt0499549)',
 7: 'The Lone Ranger (tt1210819)',
 8: '1478',
 9: 'The Dark Knight (tt0468569)',
 10: 'The Lone Ranger (tt1210819)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: 'K-19: The Widowmaker',
 19: '2015',
 21: 'Сентябрь',
 22: '450',
 23: 'Peter Jackson',
 20: '2014',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: 'Inside Out, The Dark Knight, 12 Years a Slave ',
 27: 'Daniel Radcliffe,Rupert Grint'}

In [197]:
# и убедиться что ни чего не пропустил)
len(answers)

23